{% extends 'base.html' %}


{% block content %}
  <h2>Usuario Responsável - {{ user.username }}</h2>
  <div>
  </div>
  <ul>
    <li><a href="{% url 'agua:demonstrativo'  %}">Demonstrativo</a></li>
  </ul>
  <h2>Unidades</h2>
  {% for l in listaHidrometros %}
    <h3>{{ l.0.condominio.nome }}</h3>
    <h4>{{ l.0.nome_conhecido }}</h4>
    {% if  l.1 %}
      <h5>Hidrômetros</h5>
      <table border="1">
        <thead>
          <tr>
            <th>Identificação</th>
            <th>Data da última Medição</th>
            <th>Competëncia</th>
            <th>Valor</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          {% for h in l.1 %}
            <tr>
              <td>{{ h.identificacao }}</td>
              <td>{{ h.ultima_medicao.data_medicao|date:"d/m/Y" }}</td>
              <td>{{ h.ultima_medicao.cmpt }}</td>
              <td>{{ h.ultima_medicao.medicao }}</td>
              <td><a href="/agua/consumo/{{ h.id }}"><span class="glyphicon glyphicon-scale"/> Informar consumo</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
  <br/>
  <br/>
{% endblock %}
