{% extends 'base.html' %}
{% block menu %}<li><a href="/admin">Admin</a></li>{% endblock %}

{% block content %}
<h1>Familia</h1>
<table border="1">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nome Completo</th>
      <th>Telefone</th>
      <th>Ver</th>
      <th>Alterar</th>
      <th>Deletar</th>
    </tr>
  </thead>
  <tbody>
    {% for familia in object_list %}
    <tr>
      <td>{{ familia.nome_conhecido }}</td>
      <td>{{ familia.nome_completo }}</td>
      <td>{{ familia.telefone }}</td>
      <td><a href="/core/view/{{ familia.id }}"><span class="glyphicon glyphicon-eye-open"/> Ver</span> </a></td>
      <td><a href="/core/edit/{{ familia.id }"><span class="glyphicon glyphicon-pencil"/> Alterar</span> </a></td>
      <td><a href="/core/delete/{{ familia.id }}"><span class="glyphicon glyphicon-trash"/> Deletar</span> </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/core/new">Cadastrar Nova Parente</a>
{% endblock %}
