{% extends 'base.html' %}
{% block menu %}
<li><a href="admin">Admin</a></li>{% endblock %}

{% block content %}
<h1>Detalhes</h1>
<h2>Nome/Apeido: {{object.nome_conhecido}}</h2>
Nome completo: {{object.nome_completo}}<br/>
Telefone: {{ object.telefone }}<br/>
{% if object.vira_para_o_encontro %}
Virá para o encontro<br/>
{% else %}
Não Virá para o encontro<br/>
{% endif %}
Parentesco: {{ object.parentesco}}<br/>
Email: {{ object.email }} <br/>
Data de Nascimento: {{ object.data_nascimento }}<br/>
Endereço: {{ object.endereco_correspondencia }}<br/>
CEP: {{ object.cep_correspondencia }}<br/>
Cidade: {{ object.cidade_correspondencia }}<br/>
Estado: {{ object.estado_correspondencia }}<br/>
Comentario: {{ object.comentario }} <br/>
{% endblock %}
